.filterWidget {
    width: 350px;
    position: absolute;
    padding: 20px;
    top: 350px;
    z-index: 10;
    border: 1px grey solid;
    background-color: white;
}

.signinWidget {
    width: 350px;
    position: absolute;
    padding: 10px;
    top: 10px;
    left: 500px;
    z-index: 11;
    border: 1px grey solid;
    background-color: white;
}

.savedFiltersList {
    list-style: none;
}

.filterItem {
padding-top: 10px;
padding-bottom: 10px;
border-bottom: 1px solid grey;
}
.filterItem:hover {
    font-weight: 900;
}

.filterItemIcon:hover {
    color: orangered;
}