@import '../../../styles//style.scss';

.propertyInformationClosed {
    padding: 12px;
    width: 354px;
    background-color: $white;
    border-radius: 8px;
    box-shadow: $shadow-14;
    align-self: flex-end;
    margin: 24px 0 0 0;
    z-index: 2;
    right: -100%;
    position: absolute;
}

.propertyInformation {
    padding: 12px;
    width: 354px;
    background-color: $white;
    border-radius: 8px;
    box-shadow: $shadow-14;
    align-self: flex-end;
    margin: 24px 0 0 0;
    z-index: 2;
    position: absolute;
    right: 15px;
    transition: right 0.2s;

    .propertyInformation-mainContainer {
        margin-top: 14px;
        margin-bottom: 14px;
    }

    .propertyInformation-address {
        display: flex;
        flex-direction: row;
        justify-content: center;
        color: $black;
        font-size: 17px;
        font-family: $mavenPro;
    }

    .propertyInformation-descr {
        font-size: 12px;
        font-family: $mavenPro;
        color: $dark-grey;
        margin-top: 4px;
    }

    .propertyInformation-close {
        margin: -12px 0 0 -64px;
    }

    .propertyInformation-margin10 {
        height: 10px;
    }

    .buttonClose {
        display: flex;
    }
    .buttonCloseMobile {
        display: none;
    }
}

@media only screen and (max-device-width: $breakpoint-mobile) {
    .propertyInformation {
        width: 90%;
        height: auto;
        max-height: 60%;
        display: flex;
        align-self: center;
        padding: 7% 5% 5% 5%;
        flex-direction: column;
        margin: 150px 0 0 0;
        right: 5%;
        transition: right 0.2s;

        .propertyInformation-close {
           margin: -195px -10% 25px 0;
           align-self: flex-end;
        }
        .buttonClose {
            display: none;
        }
        .buttonCloseMobile {
            display: flex;
        }
        .propertyInformation-descr {
            font-size: 20px;
        }
    }

    .propertyInformationClosed {
        width: 90%;
        height: auto;
        max-height: 60%;
        display: flex;
        align-self: center;
        padding: 7% 5% 5% 5%;
        flex-direction: column;
        margin: 150px 0 0 0;
        right: -100%;
    }
 
}