@import '../../../styles/style.scss';

.filterButtonGroup {
    display: flex;
    position: absolute;
    margin-top: 25px;
    left: 15px;
    right: 15px;
    justify-content: space-between;
    z-index: 2;

    .filterButtonGroup-left {
        display: flex; 
    }
}

@media only screen and (max-device-width: $breakpoint-mobile) {
    .filterButtonGroup {
        margin-top: 25px;
    }
}