@import '../../../styles//style.scss';

.registerFormText {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 12px;
    margin-top: 20px;
    color: $black;

    .line {
        border-bottom: 1px solid $black;
        height: 50%;
        width: 25%;
    }
}

.registerFormTitle {
    font-size: 28px;
    font-weight: 500;
    margin-bottom: 25px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.registerFormInput {
    margin-top: 25px;
}

.registerFormAgree {
    //color: $blue;
    font-size: 14px;
    //text-decoration: underline;
    margin-top: 10px;
    cursor: pointer;
}

.registerFormBtn {
    margin-top: 20px;
}