@import '../styles//style.scss';

.pageContainer {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    align-items: stretch;
}

.notification {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 150px;
    font-family: $mavenPro;
    font-size: 20px;
}