@import '../../../styles//style.scss';

.deviderLine {
    border-bottom: 1px solid $light-grey;
    //margin: 12px 5% 12px 5%;
    margin: 12px 0 12px 0;
}

@media only screen and (max-device-width: $breakpoint-tablet) {
    .deviderLine {
        margin: 24px 0 24px 0;
    }
}