@import '../../../styles//style.scss';

.textInputContainer {
    display: flex;

    .textInput {
        border: none;
        border-bottom: 1px solid $light-grey;
        height: 44px;
        width: 100%;
        padding-top: 4px;

        &:focus {
            outline: none;
            border-bottom: 1px solid $dark-grey;
        }
    }
    .textInputIcon {
        position: absolute;
        align-self: center;
    }
}