@import '../../../styles/style.scss';

.propListTitle {
    display: flex;
    flex-direction: row;

    .propListTitle-text {
        color: $dark-grey;
        font-family: $mavenPro;
        font-size: 11px;
    }

    .propListTitle-icon {
        margin-right: 6px;
    }
}