@import '../../../styles/style.scss';

.propListTitle {
    display: flex;
    flex-direction: row;
    align-items: center;

    .propListTitle-text {
        color: $dark-grey;
        font-family: $mavenPro;
        font-size: 11px;
    }

    .propListTitle-text22 {
        color: $dark-grey;
        font-family: $mavenPro;
        font-size: 22px;
        margin-left: 14px;
    }

    .propListTitle-icon {
        margin-right: 6px;
    }
}