@import '../../../styles/style.scss';

.searchItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;

    .searchItemInfo {
        width: 58%;
    }

    .searchItem-address {
        display: flex;
        flex-direction: row;
        justify-content: center;
        color: $black;
        font-size: 14px;
        font-family: $mavenPro;
    }

    .searchItem-descr {
        font-size: 12px;
        font-family: $mavenPro;
        color: $dark-grey;
        margin-top: 4px;
    }
}
@media only screen and (max-device-width: $breakpoint-mobile) {
    .searchItem {
        margin-left: 35px;
        margin-right: 35px;
        padding-bottom: 20px;
        border-bottom: 1px solid $light-grey;

        .searchItem-address {
            font-size: 1vh;
            padding-left: 20px;
            justify-content: left;
        }

        .searchItem-descr {
            font-size: 1vh;
            margin-bottom: 10px;
        }
    }
}