@import '../../../styles/style.scss';

.buttonFilled {
    border-radius: 8px;
    width: 100%;
    height: 35px;
    background-color: $green;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-decoration: none !important;

    &:hover {
        background-color: #299D61;
        -webkit-transition: background-color $transition-1;
        transition: background-color $transition-1;
        cursor: pointer;
    }

    .buttonFilledTitle {
        color: $white;
        font-weight: 500;
        font-family: $mavenPro;
        font-size: 12px;
        text-transform: uppercase;
    }
}

@media only screen and (max-device-width: $breakpoint-mobile) {
    .buttonFilled{
        height: 75px;

        .buttonFilledTitle {
            font-size: 24px;
        }
    }
}