@import '../../../styles/style.scss';

.mobileNav {
    // height: -webkit-calc(100% - 150px);
    // height: -moz-calc(100% - 150px);
    // height: calc(100% - 150px);
    height: auto;
    width: 100%;
    background-color: $light-blue;
    z-index: 3;
    padding: 44px 0 44px 0;
    display: flex;
    flex: 1;
    flex-grow: 1;
    flex-direction: column;
    justify-content: space-between;
    
    .mobileNavList {

    }
    .mobileNavLogin {
        width: 92%;
        align-self: center;
    }
}