@import '../../../styles/style.scss';

.mobileNav {
    height: 100%;
    width: 100%;
    flex: 1;
    background-color: $light-blue;
    z-index: 2;
    padding: 24px 15px 24px 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    .mobileNavList {

    }
    .mobileNavLogin {
        width: 100%;
    }
}