@import '../../../styles//style.scss';

.navItem {
    margin-left: 32px;
    margin-right: 32px;
    

    .navTitle {
        color: $black;
        opacity: $opacity;
        text-decoration: none;
        font-family: $mavenPro;
        font-size: 16px;
        font-weight: 500;
        margin-bottom: 16px;

        &:hover {
            opacity: 1;
            transition: 0.5s;
        }
    }
}
.navTitleUnderline {
    border-bottom: 2px solid $black;
    width: 19px;
    margin-top: 4px;
}

.navTitleActive {
    color: $black !important;
    opacity: 1 !important;
}

@media only screen and (max-device-width: $breakpoint-mobile) {
    .navItem {
        height: 100px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }    
    .navTitle {
        font-size: 30px !important;
       
    }
    .navTitleUnderline {
        display: none;
    }
    .navTitleActive {
        background-color: $shadow-grey;
        flex: 1;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 6px;
    }
}