@import '../../../styles/style.scss';

.navItem {
    margin-left: 32px;
    margin-right: 32px;
    

    .navTitle {
        color: $black;
        opacity: $opacity;
        text-decoration: none;
        font-family: $mavenPro;
        font-size: 16px;
        font-weight: 500;
        margin-bottom: 16px;

        &:hover {
            opacity: 1;
            transition: 0.5s;
        }
    }
}
.navTitleUnderline {
    border-bottom: 2px solid $black;
    width: 19px;
    margin-top: 4px;
}

.navTitleActive {
    color: $black !important;
    opacity: 1 !important;
}