@import '../../../styles/style.scss';

.chart {
    margin-bottom: -40px;
    margin-top: -10px;
    padding: 20px;
    padding-right: 12px;
    padding-left: 12px;

    .chart-title {
        font-family: $mavenPro;
        font-size: 14px;
        color: $black;
        margin-bottom: -5px;
        margin-top: -10px;
        font-weight: 400;
    }
}

.chartInfo {
    background-color: #3a3a48;
    font-size: 12;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    border-radius: 4px;
    color: #FFFFFF;
    padding: 4px 6px 4px 6px;
    width: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rv-xy-plot {
    width:  297px !important;
}
.rv-xy-plot__inner {
    width: 100%;
}