@import '../../../styles/style.scss';

.chart {
    margin-bottom: -40px;
    margin-top: -10px;
    padding-top: 20px;
    padding-bottom: 20px;


    .chart-title {
        font-family: $mavenPro;
        font-size: 14px;
        color: $black;
        margin-bottom: -5px;
        margin-top: -10px;
        font-weight: 400;
    }
}

.chartInfo {
    background-color: #3a3a48;
    font-size: 12;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    border-radius: 4px;
    color: #FFFFFF;
    padding: 4px 6px 4px 6px;
    width: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rv-xy-plot {
    margin-right: auto;
    margin-left: auto;
    width: auto !important;
    height: auto !important;
}
.rv-xy-plot__inner {
    width: 100%;
}

@media only screen and (max-device-width: $breakpoint-mobile) {
    .chart {
        padding: 20px;

        .chart-title {
            font-size: 34px;
            margin-top: 20px;
            margin-bottom: 20px;
        }
    }

    // .rv-xy-plot {
    //     width: auto !important;
    //     height: auto !important;
    //     margin-right: auto;
    //     margin-left: auto;
    // }


    // .rv-xy-plot__axis--vertical {
    //     width: auto !important;
    //     text-overflow: ellipsis;
    // }

    // .rv-xy-plot__axis__ticks {
    //     width: 100% !important;
    //     //text-overflow: ellipsis;
    // }
    // .rv-xy-plot__axis__tick {
    //     width: 100%;
    // }
    // .rv-xy-plot__axis__tick__text {
    //     font-size: 15px;
    //     width: 100%;
    // }
    .mapboxgl-map {
        line-height: 40px;
    }
}