@import '../../../styles/style.scss';

.buttonSquare {
    background-color: $white;
    width: 44px;
    height: 44px;
    box-shadow: $shadow-4;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
        background-color: $shadow-grey;
        transition: background-color $transition-05;
    }
}

@media only screen and (max-device-width: $breakpoint-mobile) {
    .buttonSquare {
        width: 88px;
        height: 88px;
    }
}