@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;500&display=swap');


$font-base: #3c475b;
$white: #FFFFFF;
$bg-pink: rgb(245, 0, 87);
$nav-blue: #0288d1;

//fonts
$mavenPro: 'Maven Pro', sans-serif;

//colors
$dark-grey: #3D485A;
$light-grey: #CFD1D6;
$mid-grey: #777F8B;
$shadow-grey: #EDEFF4;
$black: #000000;
$white: #FFFFFF;

$green: #42B67A;
$red: #F42B2B;
$bg-blue: #F7F9FE;
$blue: #0083FD;

//opacity
$opacity: 0.54;

//transitions
$transition-1: 1s;
$transition-05: 0.5s;

//shadow
$shadow-4: 4px 0px 4px rgba(0, 0, 0, 0.1);
$shadow-14: 14px 0px 14px rgba(0, 0, 0, 0.1);

:export {
    lightGrey: $light-grey;
    midGrey: $mid-grey;
    darkGrey: $dark-grey;
    green: $green;
    white: $white;
  }