@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;500&display=swap');


$font-base: #3c475b;
$white: #FFFFFF;
$bg-pink: rgb(245, 0, 87);
$nav-blue: #0288d1;

//fonts
$mavenPro: 'Maven Pro', sans-serif;

//colors
$dark-grey: #3D485A;
$light-grey: #CFD1D6;
$black: #000000;

$green: #42B67A;
$red: #F42B2B;
$bg-blue: #F7F9FE;

//opacity
$opacity: 0.54;