
@import './variables';
@import './login';
@import './tabs';

html {
    overflow-x: hidden;
    overflow-y: scroll;
    }

body {
    margin: 0;
    padding: 0;
}

.savedFiltersList {
    list-style: none;
}