@import './fonts';

html {
    overflow-x: hidden;
    overflow-y: scroll;
    }

body {
    margin: 0;
    padding: 0;
}

.loginButton {
    background-color:  #27aedb;
    width: 150px; 
    height: 50px; 
    border: none; 
    border-radius: 25px;
    color: white;
    font-size: 24px;
    margin: 40px;
    position: absolute;
    z-index: 10;
}

 .navigationControl {
    position: absolute;
    bottom: 10px;
    right: 25px;
    z-index: 15;
 }

 .propertyMarker {
   z-index: 2;
 }

 .propertyMarkerPin {
    padding-top: 10px;
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    color: orangered;
 }
 .propertyMarkerPin:hover {
    color: blue;
    padding-top: 0;
 }

.loginForm {
    padding: 30px;
}

.formInput {
    display: block;
    margin-bottom: 8px;
}

.filterWidget {
    width: 350px;
    position: absolute;
    padding: 20px;
    left: 0;
    z-index: 10;
    border: 1px solid #d0d3d9;
    background-color: white;
    border-radius: 10px,
}

.signinWidget {
    width: 350px;
    position: absolute;
    padding: 10px;
    top: 250px;
    left: 450px;
    z-index: 11;
    border: 1px grey solid;
    background-color: white;
}

.savedFiltersList {
    list-style: none;
}

.filterItem {
padding-top: 10px;
padding-bottom: 10px;
border-bottom: 1px solid grey;
}
.filterItem:hover {
    font-weight: 900;
}

.filterItemIcon:hover {
    color: orangered;
}

.login {
    margin: 40px;
}