@import '../../../styles/style.scss';

.loginFormText {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 12px;
    margin-top: 20px;
    color: $black;

    .loginFormLine {
        border-bottom: 1px solid $black;
        height: 50%;
        width: 25%;
    }
}

.loginFormTitle {
    font-size: 28px;
    font-weight: 500;
    margin-bottom: 25px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.loginFormInput {
    margin-top: 25px;
}

.loginFormForgot {
    color: $blue;
    font-size: 14px;
    text-decoration: underline;
    margin-top: 10px;
    cursor: pointer;
}

.loginFormBtn {
    margin-top: 20px;
}

.authError {
    margin-top: 10px;
    color: $red;
    font-size: 12px;
}

@media (max-device-width: $breakpoint-mobile) {
    .loginForm {
        display: flex;
        flex-direction: column;
        flex: 1;
        height: 100%;
        align-items: stretch;
        justify-content: space-between;
    }
    .loginFormInput {
        margin-top: 45px;
    }
    .loginFormTitle {
        font-size: 40px;
    }
    .loginFormForgot {
        margin-top: 20px;
        font-size: 24px;
    }
    .authError {
        font-size: 24px;
    }
    .loginFormText {
        font-size: 25px;
    }
}