@import '../../../styles/style.scss';

.searchModalContainer {
    z-index: 2;
    flex: 1;
    display: flex;
    justify-content: flex-start;
    width: 45%;
    max-height: 100%;
    position: absolute;
    top: 80px;

    .searchModal {
        background-color: $white;
        box-shadow: $shadow-4;
        height: 93vh;
        overflow-y: auto;

        .searchModalHeader {
            border-bottom: 1px solid $light-grey;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 15px 21px 15px 15px;
            font-size: 28px;
            font-weight: 500;

            .searchModalIcons {
                display: flex;
                justify-content: center;
                align-items: center;

            .searchModalIconDevider {
                width: 1px;
                height: 14px;
                margin: 0 14px 0 14px;
                background-color: $light-grey;
                }
            }
        }

        .searchListContainer {
            padding: 15px;
            flex: 1;
        }
    }
    .searchModalBtn {
        display: flex;
    }
}
