<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Property Finder</title>
    <link rel="stylesheet" href="css/site.css"/>
</head>
<body>
<table>
    <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Phone</th>
    </tr>
    <tr th:each="account:${accounts}">
        <td th:text="${account.lastName}!=null? ${account.lastName} + ', ' + ${account.firstName} : ''">Full Name</td>
        <td th:text="${account.emailAddress}"></td>
        <td th:text="${account.phoneNumber}"></td>
    </tr>
</table>

</body>
</html>