<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Property Finder</title>
    <link rel="stylesheet" href="css/site.css"/>
</head>
<body>
<table>
    <tr>
        <th>Planning Zone</th>
        <th>Property Area Min</th>
        <th>Property Area Max</th>
        <th>Property Price Min</th>
        <th>Property Price Max</th>
        <th>Property PSM Min</th>
        <th>Property PSM Max</th>
        <th>Property PostCode</th>
        <th>Property Price To Land Value Min Ratio</th>
        <th>Property Price To Land Value Max Ratio</th>
    </tr>
    <tr th:each="notification:${notifications}">
        <td th:text="${notification.planningZone}"></td>
        <td th:text="${notification.propertyAreaMin}"></td>
        <td th:text="${notification.propertyAreaMax}"></td>
        <td th:text="${notification.property_price_min}"></td>
        <td th:text="${notification.property_price_max}"></td>
        <td th:text="${notification.property_psm_min}"></td>
        <td th:text="${notification.property_psm_max}"></td>
        <td th:text="${notification.property_post_code}"></td>
        <td th:text="${notification.property_price_to_land_value_min}"></td>
        <td th:text="${notification.property_price_to_land_value_max}"></td>
    </tr>
</table>

</body>
</html>