@import '../../../styles/style.scss';

.savedFilters-filterItem {
    padding: 20px;
    border-radius: 8px;

    &:hover {
        background-color: $shadow-grey;
    }

    .savedFilters-propertiesList {
        display: flex;
        flex-wrap: wrap;
    }
    .savedFilters-filterHeader {
        justify-content: space-between;

        .savedFilters-filterTitle {
            //font-size: 26px;
            font-size: 16px;
            color: $black;
        }
    }

    .savedFilterEdit {
        display: flex;

        .savedFilterEdit-icon {
            margin-right: 15px;
            margin-bottom: 10px;
        }
    }
}