.map {
    margin: 0;
    padding: 0;
    z-index: 1;
 }

 .navigationControl {
    position: absolute;
    bottom: 10px;
    right: 25px;
    z-index: 15;
 }

 .propertyMarker {
   z-index: 2;
 }

 .propertyMarkerPin {
    padding-top: 10px;
    font-size: 3em;
    color: orangered;
 }
 .propertyMarkerPin:hover {
    color: blue;
    padding-top: 0;
 }

 .propertyInformation {
   width: 330px;
   height: auto;
   border: 1px grey solid;
   background-color: white;
   position: absolute;
   z-index: 100;
   right: 0;
   list-style: none;
   cursor: default;
}
