.mapContainer {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: -10;
    }
    
    #map canvas {
        cursor: default;
        }

    .marker {
        background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/9/91/Location_dot_orange.svg/480px-Location_dot_orange.svg.png');
        background-size: cover;
        width: 10px;
        height: 10px;
        cursor: pointer;
        }

    .marker:hover, .marker:focus {
        background-image: url('https://cdn4.iconfinder.com/data/icons/social-messaging-ui-coloricon-2/21/129-512.png');
        background-size: cover;
        width: 30px;
        height: 30px;
        cursor: pointer;
        outline: none;
    }

    .mapboxgl-ctrl-bottom-left, .mapboxgl-ctrl-bottom-right {
        display: none;
    }
  
    .mapboxgl-ctrl-group {
        position: absolute !important;
        z-index: 1000 !important;
        bottom: 10px !important;
        left: 20px !important;
        display: flex !important;
        flex-direction: column !important;
    }
    .mapboxgl-control-container {
        position: absolute !important;
        z-index: 1000 !important;
        bottom: 10px !important;
        left: 20px !important;
        border-radius: 20px;
        /* color: 'red' !important; */
    }
    /* .mapboxgl-ctrl {
        color: 'red' !important;
    } */
    .chart {
        align-self: flex-start;
        margin-bottom: -20px;
        margin-top: 10px;
        width: 100%;
    }
    .rv-xy-plot__inner {
        width: 230px !important;
    }
    .chartInfo {
        background-color: #3a3a48;
        font-size: 12;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
        border-radius: 4px;
        color: #FFFFFF;
        padding: 4px 6px 4px 6px;
        width: 90px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    