@import '../../../styles/style.scss';

.rc-slider-handle {
    background-color: $dark-grey;
    opacity: 0.9;
    width: 14px;
    height: 14px;
    border-radius: 14px;
    border: none;
}

.sliderContainer {
    padding-top: 24px;
    width: 40%;
    padding-right: 25px;
    padding-left: 12px;
    
    .sliderLegend {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .sliderLabel {
            font-family: $mavenPro;
            color: $black;
            font-size: 12px;
        }
    }
}

@media only screen and (max-device-width: $breakpoint-mobile) {
    .sliderContainer {
        width: 100%;
        align-self: center;
        padding: 0;
        margin-top: 30px;
        margin-bottom: 20px;

        .sliderLegend {
            margin-top: 20px;

            .sliderLabel {
                font-size: 22px !important;
            }
        }
    }
    .rc-slider-handle {
        width: 40px;
        height: 40px;
        border-radius: 40px;
        margin-top: -20px;
    }
}

.flexHandle {
    display: flex;
    justify-content: center;
  }
  
  .handleValueContainer {
      margin-top: -32px;
      margin-right: -40px;
      white-space: nowrap;
      background-color: rgba(61, 72, 90, 0.8);
      padding: 4px 10px 3px 4px;
      border-radius: 4px;
      justify-content: center;
      display: flex;
  
      .handleValue {
          color: $white;
          font-size: 14px;
          font-weight: bold;
      }
  }