@import '../../../styles//style.scss';

.rc-slider-rail {
    background-color: $green;
}
.rc-slider-track {
    background-color: $light-grey;
}
.rc-slider-handle {
    background-color: $dark-grey;
    // width: 28px;
    // height: 28px;
    // border-radius: 20px;
    width: 14px;
    height: 14px;
    border-radius: 14px;
    border: none;
    //margin-top: -15px;
}

.sliderContainer {
    padding-top: 24px;
    width: 40%;
    padding-right: 25px;
    padding-left: 12px;
    
    .sliderLegend {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
       // margin-top: 8px;

        .sliderLabel {
            font-family: $mavenPro;
            color: $black;
            font-size: 12px;
        }
    }
}

@media only screen and (max-device-width: $breakpoint-mobile) {
    .sliderContainer {
        width: 100%;
        align-self: center;
        padding: 0;
        margin-top: 30px;
        margin-bottom: 20px;

        .sliderLegend {
            margin-top: 20px;

            .sliderLabel {
                font-size: 22px !important;
            }
        }
    }
    .rc-slider-handle {
        width: 40px;
        height: 40px;
        border-radius: 40px;
        margin-top: -20px;
    }
}