@import '../../../styles//style.scss';

.nav {
    background-color: $white;
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.08);
    height: 80px;
    padding: 0 15px 0 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    z-index: 2;

    .navLinks {
        display: flex;
        flex-direction: row;
        width: 50%;
        justify-content: space-around;
        align-items: center;
    }

    .loginLogoutBtn {
        width: 218px;
        height: 80px;
    }
    .mobileMenuIcon {
        display: none;
    }
}

@media only screen and (max-device-width: $breakpoint-mobile) {
    .nav {
        height: 120px;
        padding: 0 30px 0 30px;

        .navLinks {
            display: none;
        }
        .mobileMenuIcon {
            display: flex;
        }
    }
}