@import '../../../styles//style.scss';
$breakpoint-tablet: 768px;
$breakpoint-laptop13: 1500px;
$breakpoint-laptop11: 1400px;

@media (max-width: $breakpoint-laptop13) {
    .filterModal {
        width: 60% !important;
        height: 600px;
    }
}
@media (max-width: 1400px) {
    .filterModal {
        width: 70% !important;
        height: 500px;
    }
}
.filterContainer {
    // width: 100%;
    // height: 100%;
    //background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    display: flex;
    flex: 1
}
.filterModal {
    width: 60%;
    //height: 60%;
    align-self: center;
    overflow-y: auto;
    margin-top: 78px;
    padding: 22px 32px 22px 32px;
    z-index: 2;
    box-shadow: $shadow-14;
    background-color: white;
    border-radius: 8px;

    .filterModalCloseBtn {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        margin-right: -10px;
    }
}


.react-tabs__tab {
    width: 45%;
    height: 52px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    border: none !important;
    font-family: $mavenPro;
    font-size: 24px;
    //color: $dark-grey;
}
.react-tabs__tab--selected {
    color: $white;
    background-color: $dark-grey;
    border: none !important;
}
.react-tabs__tab-list {
   margin-top: 10;
   border: none !important;
   display: flex;
    flex-direction: row;
    justify-content: space-between;

   
}


.filterBtnContainer {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
.slider {
    margin-right: 20px;
}
.marginTop {
margin-top: 20px;
}

.zone {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 10px;
}
.filterItem {
    padding: 20px 10px 20px 10px;
    border-radius: 10px;
    color: $font-base;
    font-family: Arial, Helvetica, sans-serif;

    &:hover {
        background-color: rgba(0, 0, 0, 0.02);
    }

    .filterHeader {
        justify-content: space-between;
    }
    .filterItemIcon {
        margin: 2px;
        &:hover {
            color: $bg-pink;
        }
    }
}


.checkboxWrapper {
    display: flex;
    align-items: center;
    color: $font-base;
}
.checkbox {
    width: 20px;
    height: 20px;
    
    justify-content: center;
    margin-right: 10px;
    align-items: center;
}