@import '../../../styles/style.scss';

.popup-propertyInfo {
    margin-top: 11px;
}

.popup-address {
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: $black;
    font-size: 14px;
    font-weight: 400;
    font-family: $mavenPro;
    text-align: center;
}

.popup-devider {
    border-bottom: 1px solid $light-grey;
    margin: 12px 5% 12px 5%;
}

.mapboxgl-popup-close-button {
    font-size: 20px;
}
.mapboxgl-popup {
z-index: 2;
}

.popup-favourite-icon {
    position: absolute;
    top: 5px;
}

.popup-watchList {
    width: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 5px 5px 5px;
    margin-top: 10px;
    margin-right: 5px;
    margin-left: 50%;
    font-size: 16px;
    font-family: $mavenPro;
    border: 1px $white solid;
    cursor: default;

        &:hover {
        border: 1px $black solid;
        border-radius: 4px;

    }
    .popup-watchList-plus-icon {
        font-size: 25px;
        margin-right: 5px;
    }
}


@media only screen and (max-device-width: $breakpoint-mobile) {
    .mapboxgl-popup-close-button {
        font-size: 44px;
        margin-top: 10px;
        margin-right: 10px;
    }
    .popup-propertyInfo {
        margin: 20px;
    }
    .popup-address {
        font-size: 25px;
    }
}