@import '../../../styles//style.scss';

.popup-propertyInfo {
    margin-top: 11px;
}

.popup-address {
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: $black;
    font-size: 14px;
    font-weight: 400;
    font-family: $mavenPro;
    text-align: center;
}

.popup-devider {
    border-bottom: 1px solid $light-grey;
    margin: 12px 5% 12px 5%;
}

.mapboxgl-popup-close-button {
    font-size: 20px;
}

@media only screen and (max-device-width: $breakpoint-mobile) {
    .mapboxgl-popup-close-button {
        font-size: 44px;
        margin-top: 10px;
        margin-right: 10px;
    }
    .popup-propertyInfo {
        margin: 20px;
    }
    .popup-address {
        font-size: 25px;
    }
}