@import '../../../styles/style.scss';

.authModalLogin-text {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 12px;
    margin-top: 20px;
    color: $black;

    .line {
        border-bottom: 1px solid $black;
        height: 50%;
        width: 25%;
    }
}

.authModalLogin-title {
    font-size: 28px;
    font-weight: 500;
    margin-bottom: 25px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.authModalLogin-input {
    margin-top: 25px;
}

.authModalLogin-forgot {
    color: $blue;
    font-size: 14px;
    text-decoration: underline;
    margin-top: 10px;
    cursor: pointer;
}

.authModalLogin-btn {
    margin-top: 20px;
}