@import '../../../styles/style.scss';

.checkboxFilterLine {
    display: flex;
    flex: 1;
    justify-content: space-between;

    .checkboxContainer {
        display: flex;
        justify-content: center; 
        align-items: center;
    }
}